
<form action="/AggiungiUtente" method="get">

	<caption>
		<h2></h2>
	</caption>

	<input type="hidden" name="id" value="" />

	<fieldset class="form-group">
		<label>User Name</label> <input type="text" value=""
			class="form-control" name="username" required="required">
	</fieldset>

	<fieldset class="form-group">
		<label>User Nome</label> <input type="text" value=""
			class="form-control" name="nome">
	</fieldset>

	<fieldset class="form-group">
		<label>User Email</label> <input type="text" value=""
			class="form-control" name="email">
	</fieldset>
	<fieldset class="form-group">
		<label>User Password</label> <input type="text" value=""
			class="form-control" name="password">
	</fieldset>
	
	@* <fieldset class="form-group">
		<label>Immagine</label>
	<input type="file" name="file" />
	</fieldset> *@

	<input type="submit" class="btn btn-success" value="Invia" asp-controller="Home" asp-action="AggiungiUtente">Save</input>
</form>